:root {
  --base: #cfcfcf;
  --text: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #212121;
    --text: #cfcfcf;
  }
}

:root:has(#theme [value="business-light"]:checked) {
  color-scheme: light;
  --base: #cfcfcf;
  --text: #212121;
}

:root:has(#theme [value="business-dark"]:checked) {
  color-scheme: dark;
  --base: #212121;
  --text: #cfcfcf;
}

:root:has(#theme [value="party-mode"]:checked) {
  --base: rgb(117, 212, 224);
  --text: rgb(107, 0, 107);
}

html {
  color-scheme: dark light;
}

body {
  color: var(--text);
  background-color: var(--base);
  padding: 1rem;
  font-family: "Consolas", monospace;
  font-size: 1.05rem;
}

input,
select {
  font: inherit;
}

.theme-changer-container {
  text-align: end;
  margin-inline: 1rem;
  margin-block: 0.5rem;
}

.description {
  font-style: italic;
  max-width: 80ch;
  line-height: 1.2;
}
