:root {
  --base: #cfcfcf;
  --text: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #212121;
    --text: #cfcfcf;
  }
}

:root:has(#theme [value="business-light"]:checked) {
  color-scheme: light;
  --base: #cfcfcf;
  --text: #212121;
}

:root:has(#theme [value="business-dark"]:checked) {
  color-scheme: dark;
  --base: #212121;
  --text: #cfcfcf;
}

:root:has(#theme [value="party-mode"]:checked) {
  --base: rgb(87, 0, 87);
  --text: rgb(117, 212, 224);
}

html {
  color-scheme: dark light;
  max-width: 100%;
}

body {
  color: var(--text);
  background-color: var(--base);
  font-family: "Consolas", monospace;
  font-size: 1.05rem;

  padding-inline: 2rem;

  @media (max-width: 600px) {
    padding-inline: 0.5rem;
  }
}

input,
select {
  font: inherit;
}

.main-container {
  display: flex;
  flex-direction: column;

  footer {
    border: dotted;
    align-self: center;
  }
}

.about-container {
  margin-bottom: 1rem;
}

.theme-changer-container {
  text-align: end;
  padding-inline: 1rem;
  padding-block: 0.5rem;

  @media (max-width: 600px) {
    padding-block: 0.25rem;
    font-size: small;
  }
}

.description {
  font-style: italic;
  max-width: 80ch;
  line-height: 1.2;
}

/* todo: fix spacing */
