/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* :root {
  --base: #cfcfcf;
  --text: #1e1e1e;
  --border: #1e1e1e;
  --pink: #ffd2f9;
  --cyan: #83f3ff;
  --green: #b3ffc7;
  --purple: #c2c5ff;



  --ff: "Bricolage Grotesque", sans-serif;

} 



*/

:root {
  --border-radius: 4px;

  --font-size-sm: 0.75rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.333rem;
  --font-size-xl: 1.777rem;
  --font-size-xxl: 2.369rem;

  --padding-lg: 2rem;
  --padding-md: 1rem;
  --padding-sm: 0.5rem;
}

@media (min-width: 960px) {
  :root {
    --font-size-sm: 0.75rem;
    --font-size-base: 1.3rem;
    --font-size-lg: 1.618rem;
    --font-size-xl: 2.618rem;
    --font-size-xxl: 4.236rem;

    --padding-lg: 4rem;
    --padding-md: 2rem;
    --padding-sm: 1rem;
  }
}

[data-selected-theme="green"] {
  --color-background: #a4f3a2;
  --color-text: #034435;
  --color-accent: #00cc66;
  --ff: "Bricolage Grotesque", sans-serif;
}

[data-selected-theme="blue"] {
  --color-background: #55dde0;
  --color-text: #2b4150;
  --color-accent: #00d4e7;
  --ff: "Bricolage Grotesque", sans-serif;
}

[data-selected-theme="pink"] {
  --color-background: #dfb2f4;
  --color-text: #463546;
  --color-accent: #f06efc;
  --ff: "Bricolage Grotesque", sans-serif;
}

[data-selected-theme="orange"] {
  --color-background: #fa7d61;
  --color-text: #1e1e24;
  --color-accent: #f3601c;
  --ff: "Bricolage Grotesque", sans-serif;
}

ul {
  list-style-type: none;
}

/* PAGE */

body,
html {
  min-height: 100vh;
  font-family: var(--ff);
  font-optical-sizing: auto;
  font-weight: 400;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: var(--color-text);
  background-color: var(--color-background);
}

p {
  font-size: var(--font-size-base);
}

a {
  color: inherit;
  text-decoration-thickness: 2px;
  transition: text-decoration-thickness 100ms ease-in;
  font-size: var(--font-size-base);
}

a:is(:hover, :focus-visible) {
  text-decoration-thickness: 4px;
}

button {
  font-size: var(--font-size-base);
  color: inherit;
  font-family: var(--ff);
  background: var(--color-accent);
  border-radius: var(--border-radius);
  border: 2px solid var(--color-text);
  padding: 0.25rem 0.5rem;
}

button:is(:hover, :focus-visible) {
  background: var(--color-text);
  color: var(--color-background);
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
  padding: var(--padding-md) var(--padding-lg);
}

.icon {
  border-radius: 50%;
  height: var(--padding-lg);
  border: 2px solid var(--color-text);
}

/* .accent-1 {
  transform: rotate(-4deg);
}

.accent-2 {
  background: var(--cyan);
  transform: rotate(4deg);
} */

.links-theme-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links-container {
  display: flex;
  flex-direction: row;

  li {
    padding-inline: var(--padding-sm);
  }
}

/* HERO */

.hero-container {
  display: grid;
  place-content: center;
  padding: var(--padding-lg);

  h1 {
    font-size: var(--font-size-xxl);
  }

  .btn {
    align-self: center;

    @media (min-width: 768px) {
      width: fit-content;
    }
  }

  h1,
  p {
    padding-bottom: var(--padding-sm);
  }

  p {
    font-size: var(--font-size-lg);
  }

  @media (min-width: 768px) {
    text-align: center;
  }
}

.hero-info {
  .medium-text {
    font-size: var(--font-size-xl);
  }
}

.hero-image {
  display: grid;
  place-content: center;
  padding: var(--padding-lg);
}

/* PROJECT */

.project-container {
  display: grid;
  place-items: center;
  padding: var(--padding-lg);
}

.projects-container {
  h2 {
    text-align: center;
    padding-bottom: var(--padding-md);
    font-size: var(--font-size-xl);
  }
}

.projects-grid {
  display: grid;
  grid-gap: var(--padding-sm);
  grid-template-columns: 1fr;

  h3 {
    text-align: center;
    padding-bottom: var(--padding-sm);
    font-size: var(--font-size-lg);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-card {
  padding: varrvar(--padding-md);
}

/* ABOUT ME */

.about-me-container {
  padding: var(--padding-lg);
  display: grid;
  place-content: center;
}

.about-me-info {
  h2 {
    text-align: center;
    padding-bottom: var(--padding-md);
    font-size: var(--font-size-xl);
  }

  p {
    padding-bottom: var(--padding-sm);
    line-height: 1.6;
  }
}

/* SKILLS */

.skills-container {
  padding: var(--padding-lg);
  display: grid;
  place-content: center;

  h2 {
    text-align: center;
    padding-bottom: var(--padding-md);
    font-size: var(--font-size-xl);
  }

  ul > li {
    font-size: var(--font-size-base);
    i {
      margin-right: 0.25rem;
    }
  }
}

.skills-grid {
  display: grid;
  grid-gap: var(--padding-sm);
  grid-template-columns: repeat(2, 1fr);
}

/* THEME SWITCHER */

.switcher-container {
  display: grid;
  place-items: center;
  padding: var(--padding-lg);

  h3 {
    text-align: center;
    padding-bottom: var(--padding-sm);
    font-size: var(--font-size-lg);
  }
}

/* FOOTER */

.footer {
  padding: var(--padding-lg);
  display: grid;
  place-content: center;
  text-align: center;

  h2 {
    text-align: center;
    padding-bottom: var(--padding-sm);
    font-size: var(--font-size-xl);
  }

  p {
    padding-bottom: var(--padding-sm);
  }
}

/* BORDERS */

.box {
  border: var(--color-text) 2px solid;
}

.box + .box {
  border-top: none;
}
